body {
	margin: 0;
	background: #fff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	text-decoration: none;
	letter-spacing: 1px;
}
.logout{
	display: none;
	border-bottom: 1px solid #f5f5f5;
	width: 100%;
	height: 50px;
}
.logout a{
	letter-spacing: 1px;
	position: absolute;
	right: 40px;
	top: 20px;	
	color: #48abea;
	text-decoration: none;
	font-size: 12px;
}
.logout a:hover{
	text-decoration: underline;
}
.left {
	float: left;
}
.clear {
	clear: both;
}
.logo {
	margin-bottom: 45px;
	width: 210px;
	margin-left: auto;
	margin-right: auto;
}
#form {
	width: 260px;
}
#email {
	height: 30px;
	width: 30px;
}
#pass {
	height: 30px;
	width: 30px;
}
#email-icon {
	height: 30px;
	width: 30px;
}
#pass-icon {
	height: 30px;
	width: 30px;
}
.icon-wrapper {
	height: 56px;
}
#wrapper-form {
	height: 400px;
	width: 310px;
	position: absolute;
	left: 48%;
	top: 50%;
	margin-left: -150px;
	margin-top: -200px;
}
.login-form {
	width: 310px;
	position: relative;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e0e0e0;
}
.wrapper-demo:after {
	clear: both;
	content: "";
	display: table;
}
.wrapper-dropdown-3 {
	font-family: helvetica, arial, sans-serif;
	font-size: 1.1em; 
	font-weight: 100;
	float: left;
	position: relative;
	width: 275px;
	margin: 0 auto;
	padding: 18px;
	margin-top: 2px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(50,50,50,0.1);
	cursor: pointer;
	outline: none;
	/* Font settings */
  	font-size: 13px;
	color: #acacae;
}
.wrapper-dropdown-3:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -3px;
	border-width: 6px 6px 0 6px;
	border-style: solid;
	border-color: #2fb0df transparent;
}
.wrapper-dropdown-3 .dropdown {
	/* Size & position */
	
	position: absolute;
	top: 120%;
	left: 0;
	right: 0;
	/* Styles */
	background: white;
	border-radius: inherit;
	border: 1px solid rgba(0,0,0,0.17);
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	font-weight: normal;
	
	list-style: none;
	/* Hiding */
	opacity: 0;
	pointer-events: none;
}
.wrapper-dropdown-3 .dropdown li a {
	margin-left: -40px;
	display: block;
	padding: 10px;
	text-decoration: none;
	font-size: 1em;
	font-weight: 100;
	color: #acacae;
	border-bottom: 1px solid #e6e8ea;
	box-shadow: inset 0 1px 0 rgba(255,255,255,1);

}
.wrapper-dropdown-3 .dropdown li a:hover {
	background: #38b1dd;
	color: #fff;
}
.wrapper-dropdown-3 .dropdown li a:active {
	background: #36add9;
}

.wrapper-dropdown-3 .dropdown li {
}
.wrapper-dropdown-3 .dropdown li i {
	float: right;
	color: inherit;
}
.wrapper-dropdown-3 .dropdown li:first-of-type a {
	border-radius: 3px 3px 0 0;
}
.wrapper-dropdown-3 .dropdown li:last-of-type a {
	border: none;
	border-radius: 0 0 3px 3px;
}
/* Active state */
.wrapper-dropdown-3.active .dropdown {
	opacity: 1;
	pointer-events: auto;
}
/* No CSS3 support */
.no-opacity .wrapper-dropdown-3 .dropdown, .no-pointerevents .wrapper-dropdown-3 .dropdown {
	display: none;
	opacity: 1; /* If opacity support but no pointer-events support */
	pointer-events: auto; /* If pointer-events support but no pointer-events support */
}
.no-opacity .wrapper-dropdown-3.active .dropdown, .no-pointerevents .wrapper-dropdown-3.active .dropdown {
	display: block;
}
.chooser{
	width: 510px;
	position: relative;
	background: #fff;
	
}
.login-form input {
	letter-spacing: 1px;
	display: block;
	outline: none;
	font-size: 14px;
	border: none;
	width: 240px;
	color: #afafaf;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.email {
	margin-top: 15px;
	margin-left: 10px;
	background: url(images/user.png) no-repeat;
}
.pass {
	margin-top: 15px;
	margin-left: 13px;
	background: url(images/lock.png) no-repeat;
}
.check {
	margin-top: 20px;
	margin-left: 13px;
	background: url(images/check.png) no-repeat;
}
.cross {
	margin-top: 23px;
	margin-left: 13px;
	background: url(images/cross.png) no-repeat;
}
.load {
	margin-top: 20px;
	margin-left: 13px;
	background: url(images/loading.gif) no-repeat;
}
.red {
	border: 1px solid red;
}
.email-highlight {
	margin-top: 15px;
	margin-left: 10px;
	background: url(images/user_active.png) no-repeat;
}
.pass-highlight {
	margin-top: 15px;
	margin-left: 13px;
	background: url(images/lock_active.png) no-repeat;
}
.noshow {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #fafafa;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.sep {
	clear: both;
	height: 1px;
	background-color: #e7e7e7;
	width: 310px;
}
.signin-button {
	margin-top: 25px;
	width: 310px;
}
.user-message {
	display: none;
	border: 1px solid #ffd7d7;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 25px;
	width: 290px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
}
.login {
	
	outline: none;
	border: none;
	width: 310px;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #2fb0df;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
}
.login:hover {
	background-color: #31b7e8;
}
.login:active {
	background-color: #2fb0df;
}
.inactive {
	cursor: default;
	background-color: #e7e7e7;
	border: 1px solid #e3e3e3;
}

p {
	line-height: 18px;
	text-align: center;
	color: #919191;
	margin-top: 15px;
	font-size: 12px;
}
p a {
	color: #2fb0df;
	text-decoration: none;
}
p a:hover {
	text-decoration: underline;
}
.reset {
	dsiplay: none;
}
#email-reset-icon {
	height: 30px;
	width: 9%;
}
#pass-reset-icon {
	height: 30px;
	width: 9%;
}
#pass-reset-icon-2 {
	height: 30px;
	width: 9%;
}
.append-name p {
	line-height: 22px;
	text-align: center;
	color: #666666;
	margin-top: 15px;
	font-size: 16px;
}
.append-name {
	margin-bottom: 20px;
	margin-top: -20px;
	position: relative;
	background: #fff;
	
}
@media screen and (max-width:480px) {
#wrapper {
	width: 328px;
	margin-top: 180px;
	margin-left: 10px;
	position: none;
	left: 0px;
	top: 0px;
}
.login-form {
	width: 99%;
	position: relative;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e0e0e0;
}
.login-form input {
	letter-spacing: 1px;
	display: block;
	outline: none;
	font-size: 14px;
	border: none;
	width: 100%;
	color: #afafaf;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.login {
	outline: none;
	border: none;
	width: 310px;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #2fb0df;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
}
.inactive {
	cursor: default;
	background-color: #e7e7e7;
	border: 1px solid #e3e3e3;
}
.active {
	cursor: pointer;
	background-color: #2fb0df;
	border: none;
}
.signin-button {
	margin-top: 25px;
	width: 91%;
}
.sep {
	clear: both;
	height: 1px;
	background-color: #e7e7e7;
	width: 100%;
}
.email {
	margin-top: 15px;
	margin-left: 10px;
	background: url(images/user.png) no-repeat;
}
.pass {
	margin-top: 15px;
	margin-left: 13px;
	background: url(images/lock.png) no-repeat;
}
.check {
	margin-top: 20px;
	margin-left: 13px;
	background: url(images/check.png) no-repeat;
}
.cross {
	margin-top: 20px;
	margin-left: 13px;
	background: url(images/cross.png) no-repeat;
}
.load {
	margin-top: 20px;
	margin-left: 13px;
	background: url(images/loading.gif) no-repeat;
}
#form {
	width: 84%;
}
#email {
	height: 30px;
	width: 9%;
}
#pass {
	height: 30px;
	width: 9%;
}
#email-reset-icon {
	height: 30px;
	width: 9%;
}
#pass-reset-icon {
	height: 30px;
	width: 9%;
}
.user-message {
	display: none;
	border: 1px solid #ffd7d7;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 25px;
	width: 80%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
}
.form-help{
	width: 99%;
	margin-bottom: 30px;
}
.logo {
	margin-bottom: 45px;
	width: 215px;
	margin-left: auto;
	margin-right: auto;
}
}
